<!doctype html>
<html>
  <head>
    <title>React Express Example</title>
  </head>
  <body>
    <div id="react-main-mount">
      <%- reactOutput %>
    </div>
    <script type="text/plain" id="componentData">
      <%- componentData %>
    </script>
    <script type="text/javascript" src="<%- initScript %>"></script>
  </body>
</html>