<!doctype html>
<html>
  <head>
    <title>React Express Example</title>
  </head>
  <body>
    <div id="react-main-mount">
      <%- reactOutput %>
    </div>
    <script type="text/javascript" src="/js/welcome_page.js"></script>
  </body>
</html>