.join-container
    margin-bottom: 3px
    text-align: right

.join-text
    margin-left: 5px

.participants-text
    color: gray
    font-size: 12px

.participants-number
    font-size: 15px
    font-weight: bold


