.event-title
  font-size: 16px
  color: black
  text-decoration: underline


.countdown
  color: gray
  margin-left: 20px
  font-size: 12px
  font-style: italic


.countdown-word
  font-size: 10px
  margin: 0 5px
  font-style: italic


.event-group
  font-size: 20px
  font-weight: bold
  color: dimgray
  margin-top: 40px

.toolbar-icon
  margin-left: 5px
