.event-title {
  font-size: 16px;
  color: #000;
  text-decoration: underline;
}
.countdown {
  color: #808080;
  margin-left: 20px;
  font-size: 12px;
  font-style: italic;
}
.countdown-word {
  font-size: 10px;
  margin: 0 5px;
  font-style: italic;
}
.event-group {
  font-size: 20px;
  font-weight: bold;
  color: #696969;
  margin-top: 40px;
}
.toolbar-icon {
  margin-left: 5px;
}
