body {
	background-image: url('../img/bg.png')
}

.top-menu {
    padding-top: 5px
}

.top-menu-item {
    margin-left: 5px
    font-weight: bold
}

.color-default {
    color: #333!important
}

$shadow_height = 1px
$shadow_blur = 1px
$shadow_spread = 7px
$shadow_color = #444

.box-shadow {
    -moz-box-shadow: $shadow_height $shadow_blur $shadow_spread $shadow_color
    -webkit-box-shadow: $shadow_height $shadow_blur $shadow_spread $shadow_color
    box-shadow: $shadow_height $shadow_blur $shadow_spread $shadow_color
}

.event-description {
	font-size: 20px
	font-weight: bold
}

.h-ml-5 {
    margin-left: 5px
}

.h-mt-10 {
    margin-top: 10px
}

.h-mt-20 {
    margin-top: 20px
}

.h-mr-5 {
    margin-right: 5px
}

.h-fwb {
    font-weight: bold
}

.h-pr-0 {
    padding-right: 0!important
}

.h-pointer {
    cursor: pointer
}

.clear {
    clear: both
    float: none
}